.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
}

.square[data-piece="pawn"]::before {
  content: "♙";
}

.square[data-piece="rook"]::before {
  content: "♖";
}

.square[data-piece="knight"]::before {
  content: "♘";
}

.square[data-piece="bishop"]::before {
  content: "♗";
}

.square[data-piece="queen"]::before {
  content: "♕";
}

.square[data-piece="king"]::before {
  content: "♔";
}

.square[data-color="white"] {
  background-color: rgb(240, 215, 175);
}

.square[data-color="black"] {
  background-color: rgb(150, 100, 40);
}

.square[data-selected="true"][data-color="white"] {
  background-color: rgb(240, 195, 160);
}

.square[data-selected="true"][data-color="black"] {
  background-color: rgb(110, 70, 35);
}

.square[data-player="white"] {
  color: white;
}

.square[data-player="black"] {
  color: black;
}
